* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #f0f2f5;
}
.header {
    width: 100%;
    height: 5rem;
    display: flex;
    padding: 0 10%;
    justify-content: space-between;
    align-items: center;
    background-color: #242424;
    padding: 20px;
    color: white;
    align-items: center;
}

.nav ul {
    list-style: none;
    padding: 0;
}

.nav ul li {
    display: inline;
    margin-right: 10px;
    margin-left: 1.5rem;
    font-size: 1.25rem;
}
.nav ul li a {
    text-decoration: none;
    color: #6400a7;
    transition: color 0.3s ease;
    text-decoration: none;
}
.nav a:hover,
.nav a:active {
    color: white;
}
button {
    padding: 10px 20px;
    background-color: #9c1cf1;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #d9a0ff;
}
.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}